rules_version = "2";

service cloud.firestore {
    match /databases/{database}/documents {
        // Add helper functions
        function isAuthenticated() {
            return request.auth.uid != null;
        }

        // Security rules for all paths in the database.
        // By default, user does not have any read write
        // permission in the production database.

        match /lookups/{path=**} {
            function isValidCreationSchema() {
                return request.writeFields.hasOnly(['query']);
            }

            allow read: if isAuthenticated();
            allow create: if isAuthenticated() && isValidCreationSchema();
            allow update, delete: if false;
        }

        match /transactions/{transactionId} {
            allow read, update: if isAuthenticated() && request.auth.uid == resource.data.uid;
            allow create: if isAuthenticated();
            allow delete: if false;
        }
    }
}
